{% extends "store/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'store/css/auth.css' %}">

<div class="auth-page">

<div class="auth-card text-center">

    <div class="auth-logo">

        <div class="reset-icon">
            <i class="fas fa-check-circle"></i>
        </div>

        <h2>Password Changed</h2>

    </div>

    <p class="auth-description">

        Your password has been successfully changed.

        You can now log in using your new password.

    </p>

    <a
        href="{% url 'login' %}"
        class="auth-btn"
    >
        <i class="fas fa-sign-in-alt"></i>
        Login
    </a>

    <div class="back-home">

        <a href="{% url 'home' %}">
            <i class="fas fa-arrow-left"></i>
            Back to Home
        </a>

    </div>

</div>


</div>

{% endblock %}
